<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persona</title>
</head>
<body>
  <h1>Datos de <%= person.name %></h1>
  <div>
    <div>Nombre: <%= person.name %></div>
    <div>Apellidos: <%= person.lastName %></div>
    <div>Edad: <%= person.age %></div>
    <div>Sexo: <%= person.gender %></div>
  </div>
</body>
</html>